# Curso CIMAT

## 1. Obtención de datos

Los datos son la primera versión de la transcripción de la Bitácora Onomástica del SEMEFO-DF de 1974, la cuál fue transcrita por personal de la CNB.


Variable | Tipo de variable | Descripción operativa | Ejemplo 
---------|------------------|-----------------------|--------
Numero_progresivo | Numérico | Número progresivo con el cual se registraron originalmente los restos | 36
Nombre_completo | Texto  | Nombre con el cual se registraron originalmente los restos | abreu tavera tomas
Primer_apellido | Texto | Primer apellido inferido a partir del nombre. | abreu
Segundo_apellido | Texto | Segundo apellido inferido a partir del nombre. | tavera
Nombres_propios | Texto | Nombres propios inferidos a partir del nombre. | tomas
Fecha | Fecha | Fecha de ingreso con la cual se registraron originalmente los restos | 1975-02-12
Fecha_estandar | Fecha | Fecha de ingreso estandarizada a formato datetime. | 1975-02-12
Fecha_diasemana | Catálogo | Día de la semana de ingreso de los restos | 
Sexo | Catálogo | Sexo con el cual se registraron originalmente los restos | Masculino
Edad | Numérico | Edad asignada por el o la médica correspondiente con el cual se registraron originalmente los restos | 25
Edad_estandar | Numérico | Estandarización de las edades.  | 0
Edad_rango | Rango | Estandarización de las edades en rangos de cinco años.  | 1-4
Expediente_SEMEFO | Numérico | Número de expediente interno del SEMEFO-DF con el cual se registraron originalmente los restos | 805
Procedencia | Texto | Siglas de la procedencia (hospital, agencia de MP, etc) con la cual se registraron originalmente los restos | CH-1
Numero_acta | Texto | Número de acta con el cual se registraron originalmente los restos | 166
Procedencia_acta | Alfanumérico | Variable autogenerada con la unión de la información correspondiente a Procedencia y Número_acta.  | CH-1 -- 166
Diagnostico | Texto | Siglas de diagnóstico de la causa de muerto hecho por el o la médica de SEMEFO-DF con el cual se registraron originalmente los restos | TA
Tipo_restos | Catálogo | Inferencia del tipo de resto que ingresó al SEMEFO-DF realizada por la CNB.  | Cadáver
Conocido_desconocido | Catálogo | Inferencia de la variable conocida o desconocida para los registros en la Bitácora Onomástica de Ingresos. | conocido
Bitacora_ingresos | Catálogo | Identificador de la Bitácora Onomástica de Ingresos anual de la cual se transcribió el registro. | SEMEFO_DF_BO_1975
Pagina_PDF | Numérico | Número de la página del PDF escaneada. | 4
Foja_transcrito | Texto | Número de foja de donde se transcribió la información.  | 1 reverso
Observaciones | Texto | Observaciones sobre características específicas en la anotación original.  | S-D

## 2. Análisis exploratorio de datos

conda remove -n CursoCIMAT --all
conda create --name CursoCIMAT python=3.10

conda activate CursoCIMAT
conda install pip -y
pip install jupyterlab numpy pandas openpyxl 
pip install ydata-profiling
pip install unidecode thefuzz[speedup] ydata-profiling
pip install matplotlib seaborn

In [1]:
import pandas as pd
import seaborn as sns

from numpy import nan
from ydata_profiling import ProfileReport

f_in = "data_raw/SEMEFO_BO1974_transcritos_20231106.csv"
df = pd.read_csv(f_in, skiprows=1)
df

/home/esther/anaconda3/envs/CursoCIMAT/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

,Apellido Paterno,Apellido Materno,Primer Nombre,Segundo Nombre,Tercer nombre,Alternativo,NP,NOMBRE,PROCEDENCIA (Agencia de MP),Número de Averiguación Previa,...,FECHA,EDAD,DIAGNÓSTICO,BITÁCORA DE INGRESOS,PÁGINA PDF,FOJA,POSIBLE IDENTIFICADO COMO,OBSERVACIONES CAPTURISTA,Restos,Unnamed: 21
0,Arguello,de Sandoval,NaN,Elena,NaN,NaN,NaN,Arguello de Sandoval Elena,HB,116/74,...,1974-01-02,63,TCT,NaN,1,3,NaN,NaN,Cadáver,NaN
1,Aragon,Gómez,David,NaN,NaN,NaN,NaN,Aragon Gómez David,HB,22447/75,...,1974-01-01,17,INTER ED CEB,NaN,1,3,NaN,NaN,Cadáver,NaN
2,Arellano,Sanchez,Ana,Maria,NaN,NaN,NaN,Arellano Sanchez Ana Maria,CR,14,...,1974-01-04,69,TMI+BN,NaN,1,3,NaN,NaN,Cadáver,NaN
3,Aguendez,Martínez,Arturo,NaN,NaN,NaN,NaN,Aguendez Martínez Arturo,3a,19,...,1974-01-05,40,BN+CH,NaN,1,3,NaN,NaN,Cadáver,NaN
4,Alvarez,Corona,Rosa,NaN,NaN,NaN,NaN,Alvarez Corona Rosa,20a,10,...,1974-01-05,40,BN,NaN,1,3,NaN,NaN,Cadáver,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5728,NaN,NaN,NaN,NaN,NaN,R Nacido,NaN,R Nacido,16a,678,...,1974-11-12,72 horas,ANN,NaN,150 reverso,219,NaN,NaN,Cadáver,NaN
5729,NaN,NaN,NaN,NaN,NaN,R Nacido,NaN,R Nacido,13a,3963,...,1974-11-14,72 horas,AA,NaN,150 reverso,219,NaN,NaN,Cadáver,NaN
5730,NaN,NaN,NaN,NaN,NaN,R Nacido,NaN,R Nacido,13a,4013,...,1974-11-19,72 horas,ENT,NaN,150 reverso,219,NaN,NaN,Cadáver,NaN
5731,NaN,NaN,NaN,NaN,NaN,R Nacido,NaN,R Nacido,22a,1948,...,1974-11-20,72 horas,ANEN,NaN,150 reverso,219,NaN,NaN,Cadáver,NaN
5732,NaN,NaN,NaN,NaN,NaN,R Nacido,NaN,R Nacido,11a,1176,...,1974-11-30,72 horas,BN,NaN,150 reverso,219,NaN,NaN,Cadáver,NaN

In [2]:
f_name = 'SEMEFO_BO1974_transcritos_raw'
f_out = 'profile/' +f_name +'.html'

prof = df.profile_report( title=f_name)
prof.to_file(output_file=f_out)

Summarize dataset: 100%|█████████████| 33/33 [00:04<00:00,  7.49it/s, Completed]
Generate report structure: 100%|██████████████████| 1/1 [00:13<00:00, 13.89s/it]
Render HTML: 100%|████████████████████████████████| 1/1 [00:01<00:00,  1.05s/it]
Export report to file: 100%|█████████████████████| 1/1 [00:00<00:00, 146.68it/s]

## 3. Limpieza de datos

Variable | Tipo de variable | Equivalente | Limpieza
---------|------------------|-------------|----------
Nombre_completo | Texto | NOMBRE | Quitar acentos, especiales y espacios múltiples
Primer_apellido | Texto | Apellido Paterno | Quitar acentos, especiales y espacios múltiples
Segundo_apellido | Texto | Apellido Materno | Quitar acentos, especiales y espacios múltiples
Nombres_propios | Texto | Primer Nombre + Segundo Nombre + Tercer nombre | Quitar acentos, especiales y espacios múltiples Unir Primer Nombre + Segundo Nombre + Tercer nombre.
Fecha | Texto | FECHA | Nueva columna estandarizada
Fecha_estandar | Fecha |  | Revisar tipo de dato datetime
Fecha_diasemana | Catálogo |  | Asignar día semana
Sexo | Catálogo | SEXO | Ajustar a catálogo
Edad | Texto | EDAD | Nueva columna estandarizada
Edad_estandar | Numérico |  | Revisar tipo de dato numérico y rango
Expediente_SEMEFO | Numérico | FOLIO EXP SEMEFO | Revisar tipo de dato
Procedencia | Texto | PROCEDENCIA (Agencia de MP) | Quitar acentos y espacios múltiples
Numero_acta | Texto | Número de Averiguación Previa | Quitar acentos y espacios múltiples
Diagnostico | Texto | DIAGNÓSTICO | Quitar acentos y espacios múltiples
Tipo_restos | Catálogo | Restos | Ajustar a catálogo
Pagina_PDF | Numérico | PÁGINA PDF | Invertir con Foja. Revisar tipo de dato numérico. 
Foja | Texto | FOJA | Invertir con Pagina_PDF. Revisar patrón
Observaciones | Texto |  OBSERVACIONES CAPTURISTA | Quitar acentos, especiales y espacios múltiples.

Quitar: 'NP', 'Alternativo', 'BITÁCORA DE INGRESOS', 'POSIBLE IDENTIFICADO COMO', 'Unnamed: 21'

### Navegación de filas y columnas

Seleccionar columnas

In [3]:
df['Alternativo']

0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
          ...
5728    R Nacido
5729    R Nacido
5730    R Nacido
5731    R Nacido
5732    R Nacido
Name: Alternativo, Length: 5733, dtype: object

In [4]:
df[['NOMBRE','Alternativo']]

                          NOMBRE Alternativo
0     Arguello de Sandoval Elena         NaN
1             Aragon Gómez David         NaN
2     Arellano Sanchez Ana Maria         NaN
3       Aguendez Martínez Arturo         NaN
4            Alvarez Corona Rosa         NaN
...                          ...         ...
5728                    R Nacido    R Nacido
5729                    R Nacido    R Nacido
5730                    R Nacido    R Nacido
5731                    R Nacido    R Nacido
5732                    R Nacido    R Nacido

[5733 rows x 2 columns]

In [5]:
df.loc[[1000,2000,3000]]

,Apellido Paterno,Apellido Materno,Primer Nombre,Segundo Nombre,Tercer nombre,Alternativo,NP,NOMBRE,PROCEDENCIA (Agencia de MP),Número de Averiguación Previa,...,FECHA,EDAD,DIAGNÓSTICO,BITÁCORA DE INGRESOS,PÁGINA PDF,FOJA,POSIBLE IDENTIFICADO COMO,OBSERVACIONES CAPTURISTA,Restos,Unnamed: 21
1000,Cordero,Olvera,Jesús,NaN,NaN,NaN,NaN,Cordero Olvera Jesús,HB,58/ap,...,1974-12-24,NaN,AOVA,NaN,17 reverso,32,NaN,NaN,Cadáver,NaN
2000,Hernández,Cruz,Manuel,NaN,NaN,NaN,NaN,Hernández Cruz Manuel,10a,121,...,1974-02-03,45,TMI+S,NaN,37,63,NaN,NaN,Cadáver,NaN
3000,Martínez,Rangel,Roberto,NaN,NaN,NaN,NaN,Martínez Rangel Roberto,HV,945,...,1974-09-10,15,TCM,NaN,57 reverso,94,NaN,NaN,Cadáver,NaN

Frecuencia de valores

In [6]:
df['Alternativo'].value_counts()

Alternativo
Desconocido    890
Feto           246
R Nacido        52
Name: count, dtype: int64

In [7]:
df['Alternativo'].value_counts(dropna=False, normalize=True)

Alternativo
NaN            0.792779
Desconocido    0.155242
Feto           0.042909
R Nacido       0.009070
Name: proportion, dtype: float64

Selección de no vacios. Para faltantes usar `.isna()`

In [8]:
df[ df['Alternativo'].notna() ]

,Apellido Paterno,Apellido Materno,Primer Nombre,Segundo Nombre,Tercer nombre,Alternativo,NP,NOMBRE,PROCEDENCIA (Agencia de MP),Número de Averiguación Previa,...,FECHA,EDAD,DIAGNÓSTICO,BITÁCORA DE INGRESOS,PÁGINA PDF,FOJA,POSIBLE IDENTIFICADO COMO,OBSERVACIONES CAPTURISTA,Restos,Unnamed: 21
342,Bolaños,Javier,NaN,NaN,NaN,Desconocido,NaN,Bolaños Javier o Desconocido,HC,68571/73,...,1974-01-02,58,TCE,NaN,7,13,NaN,NaN,Cadáver,NaN
353,Bernadino,Pablo,NaN,NaN,NaN,Desconocido,NaN,Bernadino Pablo o Desconocido,9a,121,...,1974-01-23,30,HPIPCYPAF,NaN,7,13,NaN,NaN,Cadáver,NaN
372,Badilla,Silverio,NaN,NaN,NaN,Desconocido,NaN,Badilla Silverio o Desconocido,6a,286,...,1974-03-05,70,BN+CH,NaN,7,13,NaN,NaN,Cadáver,NaN
436,Bañuelos,Hernández,Pablo,NaN,NaN,Desconocido,NaN,Bañuelos Hernández Pablo o Desconocido,HB,1156,...,1974-08-06,33,HPADC,NaN,8,15,NaN,NaN,Cadáver,NaN
481,Benitez,Lamberto,NaN,NaN,NaN,Desconocido,NaN,Benitez Lamberto o Desconocido,19a,1002,...,1974-10-31,35,HsIPCpsTA,NaN,9,17,NaN,NaN,Cadáver,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5728,NaN,NaN,NaN,NaN,NaN,R Nacido,NaN,R Nacido,16a,678,...,1974-11-12,72 horas,ANN,NaN,150 reverso,219,NaN,NaN,Cadáver,NaN
5729,NaN,NaN,NaN,NaN,NaN,R Nacido,NaN,R Nacido,13a,3963,...,1974-11-14,72 horas,AA,NaN,150 reverso,219,NaN,NaN,Cadáver,NaN
5730,NaN,NaN,NaN,NaN,NaN,R Nacido,NaN,R Nacido,13a,4013,...,1974-11-19,72 horas,ENT,NaN,150 reverso,219,NaN,NaN,Cadáver,NaN
5731,NaN,NaN,NaN,NaN,NaN,R Nacido,NaN,R Nacido,22a,1948,...,1974-11-20,72 horas,ANEN,NaN,150 reverso,219,NaN,NaN,Cadáver,NaN
5732,NaN,NaN,NaN,NaN,NaN,R Nacido,NaN,R Nacido,11a,1176,...,1974-11-30,72 horas,BN,NaN,150 reverso,219,NaN,NaN,Cadáver,NaN

Seleción de filas y columnas

In [9]:
df.loc[df['Alternativo'].notna(), ['NOMBRE','Alternativo']]

                                      NOMBRE  Alternativo
342            Bolaños Javier  o Desconocido  Desconocido
353            Bernadino Pablo o Desconocido  Desconocido
372           Badilla Silverio o Desconocido  Desconocido
436   Bañuelos Hernández Pablo o Desconocido  Desconocido
481           Benitez Lamberto o Desconocido  Desconocido
...                                      ...          ...
5728                                R Nacido     R Nacido
5729                                R Nacido     R Nacido
5730                                R Nacido     R Nacido
5731                                R Nacido     R Nacido
5732                                R Nacido     R Nacido

[1188 rows x 2 columns]

In [10]:
df.loc[df['Alternativo'].notna(), ['NOMBRE','Alternativo']].value_counts()

NOMBRE                                  Alternativo
Desconocido                             Desconocido    867
Feto                                    Feto           246
R Nacido                                R Nacido        52
García Jordan Isabel ó Desconocido      Desconocido      1
Sánchez o Desconocido Simón             Desconocido      1
Rios Rivera Gloria ó Desconocido        Desconocido      1
Rangel Cabrera o Desconocido            Desconocido      1
Ortega "N" Antonio o Desconocido        Desconocido      1
Ontiveros Félix o Desconocido           Desconocido      1
Martínez Porfirio ó Desconocido         Desconocido      1
Jeremir Ulverick o Desconocido          Desconocido      1
González Garduño Dolores ò Desconocido  Desconocido      1
García Trujillo Rodolfo ò Desconocido   Desconocido      1
Badilla Silverio o Desconocido          Desconocido      1
Bañuelos Hernández Pablo o Desconocido  Desconocido      1
Desconocido (5)                         Desconocido      1
Desconocido (4)                         Desconocido      1
Desconocido (3)                         Desconocido      1
Desconocido (2)                         Desconocido      1
Desconocido (1)                         Desconocido      1
Cot Jesús o Desc.                       Desconocido      1
Cordoba Juan o Desconocido              Desconocido      1
Bolaños Javier  o Desconocido           Desconocido      1
Bernadino Pablo o Desconocido           Desconocido      1
Benitez Lamberto o Desconocido          Desconocido      1
[Pasje Uribe Esther o Desconocido]      Desconocido      1
Name: count, dtype: int64

### Quitar y unir columnas

In [11]:
col_drop = ['NP', 'Alternativo', 'BITÁCORA DE INGRESOS', 'POSIBLE IDENTIFICADO COMO', 'Unnamed: 21']
df.drop(col_drop, axis=1)

,Apellido Paterno,Apellido Materno,Primer Nombre,Segundo Nombre,Tercer nombre,NOMBRE,PROCEDENCIA (Agencia de MP),Número de Averiguación Previa,FOLIO EXP SEMEFO,SEXO,FECHA,EDAD,DIAGNÓSTICO,PÁGINA PDF,FOJA,OBSERVACIONES CAPTURISTA,Restos
0,Arguello,de Sandoval,NaN,Elena,NaN,Arguello de Sandoval Elena,HB,116/74,31,F,1974-01-02,63,TCT,1,3,NaN,Cadáver
1,Aragon,Gómez,David,NaN,NaN,Aragon Gómez David,HB,22447/75,16,M,1974-01-01,17,INTER ED CEB,1,3,NaN,Cadáver
2,Arellano,Sanchez,Ana,Maria,NaN,Arellano Sanchez Ana Maria,CR,14,56,F,1974-01-04,69,TMI+BN,1,3,NaN,Cadáver
3,Aguendez,Martínez,Arturo,NaN,NaN,Aguendez Martínez Arturo,3a,19,66,M,1974-01-05,40,BN+CH,1,3,NaN,Cadáver
4,Alvarez,Corona,Rosa,NaN,NaN,Alvarez Corona Rosa,20a,10,72,F,1974-01-05,40,BN,1,3,NaN,Cadáver
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5728,NaN,NaN,NaN,NaN,NaN,R Nacido,16a,678,6030,Femenino,1974-11-12,72 horas,ANN,150 reverso,219,NaN,Cadáver
5729,NaN,NaN,NaN,NaN,NaN,R Nacido,13a,3963,6063,Masculino,1974-11-14,72 horas,AA,150 reverso,219,NaN,Cadáver
5730,NaN,NaN,NaN,NaN,NaN,R Nacido,13a,4013,6163,Masculino,1974-11-19,72 horas,ENT,150 reverso,219,NaN,Cadáver
5731,NaN,NaN,NaN,NaN,NaN,R Nacido,22a,1948,6178,Femenino,1974-11-20,72 horas,ANEN,150 reverso,219,NaN,Cadáver
5732,NaN,NaN,NaN,NaN,NaN,R Nacido,11a,1176,6404,Femenino,1974-11-30,72 horas,BN,150 reverso,219,NaN,Cadáver

In [12]:
df = df.drop(col_drop, axis=1)
df.columns

Index(['Apellido Paterno', 'Apellido Materno', 'Primer Nombre',
       'Segundo Nombre', 'Tercer nombre', 'NOMBRE',
       'PROCEDENCIA (Agencia de MP)', 'Número de  Averiguación Previa',
       'FOLIO EXP SEMEFO', 'SEXO', 'FECHA', 'EDAD', 'DIAGNÓSTICO',
       'PÁGINA PDF', 'FOJA', 'OBSERVACIONES CAPTURISTA', 'Restos'],
      dtype='object')

In [13]:
df.index

RangeIndex(start=0, stop=5733, step=1)

### Nombres y orden de columnas

In [14]:
col_rename = {'NOMBRE':'Nombre_completo', 'Apellido Paterno':'Primer_apellido', 'Apellido Materno':'Segundo_apellido', 
              'Primer Nombre':'Nombres_propios_1', 'Segundo Nombre':'Nombres_propios_2', 'Tercer nombre':'Nombres_propios_3', 
              'FECHA':'Fecha', 'SEXO':'Sexo', 'EDAD':'Edad', 'FOLIO EXP SEMEFO':'Expediente_SEMEFO', 
              'PROCEDENCIA (Agencia de MP)':'Procedencia', 'Número de  Averiguación Previa':'Numero_acta', 
              'DIAGNÓSTICO':'Diagnostico', 'Restos':'Tipo_restos', 'PÁGINA PDF':'Foja', 
              'FOJA':'Pagina_PDF', 'OBSERVACIONES CAPTURISTA':'Observaciones'}
df = df.rename(columns=col_rename)
df

,Primer_apellido,Segundo_apellido,Nombres_propios_1,Nombres_propios_2,Nombres_propios_3,Nombre_completo,Procedencia,Numero_acta,Expediente_SEMEFO,Sexo,Fecha,Edad,Diagnostico,Foja,Pagina_PDF,Observaciones,Tipo_restos
0,Arguello,de Sandoval,NaN,Elena,NaN,Arguello de Sandoval Elena,HB,116/74,31,F,1974-01-02,63,TCT,1,3,NaN,Cadáver
1,Aragon,Gómez,David,NaN,NaN,Aragon Gómez David,HB,22447/75,16,M,1974-01-01,17,INTER ED CEB,1,3,NaN,Cadáver
2,Arellano,Sanchez,Ana,Maria,NaN,Arellano Sanchez Ana Maria,CR,14,56,F,1974-01-04,69,TMI+BN,1,3,NaN,Cadáver
3,Aguendez,Martínez,Arturo,NaN,NaN,Aguendez Martínez Arturo,3a,19,66,M,1974-01-05,40,BN+CH,1,3,NaN,Cadáver
4,Alvarez,Corona,Rosa,NaN,NaN,Alvarez Corona Rosa,20a,10,72,F,1974-01-05,40,BN,1,3,NaN,Cadáver
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5728,NaN,NaN,NaN,NaN,NaN,R Nacido,16a,678,6030,Femenino,1974-11-12,72 horas,ANN,150 reverso,219,NaN,Cadáver
5729,NaN,NaN,NaN,NaN,NaN,R Nacido,13a,3963,6063,Masculino,1974-11-14,72 horas,AA,150 reverso,219,NaN,Cadáver
5730,NaN,NaN,NaN,NaN,NaN,R Nacido,13a,4013,6163,Masculino,1974-11-19,72 horas,ENT,150 reverso,219,NaN,Cadáver
5731,NaN,NaN,NaN,NaN,NaN,R Nacido,22a,1948,6178,Femenino,1974-11-20,72 horas,ANEN,150 reverso,219,NaN,Cadáver
5732,NaN,NaN,NaN,NaN,NaN,R Nacido,11a,1176,6404,Femenino,1974-11-30,72 horas,BN,150 reverso,219,NaN,Cadáver

In [15]:
df = df[col_rename.values()]
df.columns

Index(['Nombre_completo', 'Primer_apellido', 'Segundo_apellido',
       'Nombres_propios_1', 'Nombres_propios_2', 'Nombres_propios_3', 'Fecha',
       'Sexo', 'Edad', 'Expediente_SEMEFO', 'Procedencia', 'Numero_acta',
       'Diagnostico', 'Tipo_restos', 'Foja', 'Pagina_PDF', 'Observaciones'],
      dtype='object')

### Faltantes

In [16]:
df

,Nombre_completo,Primer_apellido,Segundo_apellido,Nombres_propios_1,Nombres_propios_2,Nombres_propios_3,Fecha,Sexo,Edad,Expediente_SEMEFO,Procedencia,Numero_acta,Diagnostico,Tipo_restos,Foja,Pagina_PDF,Observaciones
0,Arguello de Sandoval Elena,Arguello,de Sandoval,NaN,Elena,NaN,1974-01-02,F,63,31,HB,116/74,TCT,Cadáver,1,3,NaN
1,Aragon Gómez David,Aragon,Gómez,David,NaN,NaN,1974-01-01,M,17,16,HB,22447/75,INTER ED CEB,Cadáver,1,3,NaN
2,Arellano Sanchez Ana Maria,Arellano,Sanchez,Ana,Maria,NaN,1974-01-04,F,69,56,CR,14,TMI+BN,Cadáver,1,3,NaN
3,Aguendez Martínez Arturo,Aguendez,Martínez,Arturo,NaN,NaN,1974-01-05,M,40,66,3a,19,BN+CH,Cadáver,1,3,NaN
4,Alvarez Corona Rosa,Alvarez,Corona,Rosa,NaN,NaN,1974-01-05,F,40,72,20a,10,BN,Cadáver,1,3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5728,R Nacido,NaN,NaN,NaN,NaN,NaN,1974-11-12,Femenino,72 horas,6030,16a,678,ANN,Cadáver,150 reverso,219,NaN
5729,R Nacido,NaN,NaN,NaN,NaN,NaN,1974-11-14,Masculino,72 horas,6063,13a,3963,AA,Cadáver,150 reverso,219,NaN
5730,R Nacido,NaN,NaN,NaN,NaN,NaN,1974-11-19,Masculino,72 horas,6163,13a,4013,ENT,Cadáver,150 reverso,219,NaN
5731,R Nacido,NaN,NaN,NaN,NaN,NaN,1974-11-20,Femenino,72 horas,6178,22a,1948,ANEN,Cadáver,150 reverso,219,NaN
5732,R Nacido,NaN,NaN,NaN,NaN,NaN,1974-11-30,Femenino,72 horas,6404,11a,1176,BN,Cadáver,150 reverso,219,NaN

In [17]:
df.isna()

,Nombre_completo,Primer_apellido,Segundo_apellido,Nombres_propios_1,Nombres_propios_2,Nombres_propios_3,Fecha,Sexo,Edad,Expediente_SEMEFO,Procedencia,Numero_acta,Diagnostico,Tipo_restos,Foja,Pagina_PDF,Observaciones
0,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,True
3,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False,True
4,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5728,False,True,True,True,True,True,False,False,False,False,False,False,False,False,False,False,True
5729,False,True,True,True,True,True,False,False,False,False,False,False,False,False,False,False,True
5730,False,True,True,True,True,True,False,False,False,False,False,False,False,False,False,False,True
5731,False,True,True,True,True,True,False,False,False,False,False,False,False,False,False,False,True
5732,False,True,True,True,True,True,False,False,False,False,False,False,False,False,False,False,True

In [18]:
sns.heatmap( df.isna() )

In [19]:
df.isna().sum()

Nombre_completo         0
Primer_apellido      1306
Segundo_apellido     1411
Nombres_propios_1    1576
Nombres_propios_2    4977
Nombres_propios_3    5656
Fecha                  11
Sexo                    7
Edad                  272
Expediente_SEMEFO       3
Procedencia             3
Numero_acta             3
Diagnostico            18
Tipo_restos             0
Foja                    0
Pagina_PDF              0
Observaciones        5641
dtype: int64

In [20]:
df.isna().sum(axis=1)

0       3
1       3
2       2
3       3
4       3
       ..
5728    6
5729    6
5730    6
5731    6
5732    6
Length: 5733, dtype: int64

In [21]:
df.isna().sum(axis=1).value_counts()

3    3427
6    1284
2     599
4     366
5      37
1      15
7       4
9       1
Name: count, dtype: int64

In [22]:
df[ df.isna().sum(axis=1)>=7 ]

,Nombre_completo,Primer_apellido,Segundo_apellido,Nombres_propios_1,Nombres_propios_2,Nombres_propios_3,Fecha,Sexo,Edad,Expediente_SEMEFO,Procedencia,Numero_acta,Diagnostico,Tipo_restos,Foja,Pagina_PDF,Observaciones
1354,Fuentes Bobedilla Aurelio,Fuentes,Bobedilla,Aurelio,NaN,NaN,NaN,NaN,NaN,5054,CM,1906,NaN,Cadáver,26,43,NaN
2487,López Medrana V Manuel Rep.,López,Medrana,V,Manuel,Rep.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cadáver,48 reverso,79,Sin datos
3254,Ortíz Gutiérrez Gustavo,Ortíz,Gutiérrez,Gustavo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cadáver,64,102,"Un ""no"" en el nombre"
3521,Placenta,Placenta,NaN,NaN,NaN,NaN,1974-09-03,NaN,NaN,4194,9a,1600,Desecho Obstétrico,Cadáver,70,109,NaN
5439,Feto,NaN,NaN,NaN,NaN,NaN,1974-08-01,Masculino,9 meses,3660,1a,NaN,ANN,Feto,142,211,NaN

Llenar con un valor default

In [23]:
df[ (df['Expediente_SEMEFO'].isna()) | (df['Procedencia'].isna()) | (df['Numero_acta'].isna()) | (df['Diagnostico'].isna()) ]

,Nombre_completo,Primer_apellido,Segundo_apellido,Nombres_propios_1,Nombres_propios_2,Nombres_propios_3,Fecha,Sexo,Edad,Expediente_SEMEFO,Procedencia,Numero_acta,Diagnostico,Tipo_restos,Foja,Pagina_PDF,Observaciones
1172,Encino [nó] Hernández [nó] Ma. A. [nó],Encino,Hernández,Ma.,A.,NaN,1974-02-09,Masculino,NaN,1209,7a,96,NaN,Cadáver,23,38,NaN
1203,Espinoza Arteaga Francisco,Espinoza,Arteaga,Francisco,NaN,NaN,1974-07-13,Masculino,33,2934,HB,737,NaN,Cadáver,23 reverso,39,Punto rojo en folio exp
1295,Fuentes Rivera Ernestina,Fuentes,Rivera,Ernestina,NaN,NaN,1974-04-30,Femenino,70,2105,HV,435,NaN,Cadáver,25 reverso,42,NaN
1354,Fuentes Bobedilla Aurelio,Fuentes,Bobedilla,Aurelio,NaN,NaN,NaN,NaN,NaN,5054,CM,1906,NaN,Cadáver,26,43,NaN
1581,García Alfaro Rafael,García,Alfaro,Rafael,NaN,NaN,NaN,Masculino,NaN,1875,HB,586,NaN,Cadáver,30 reverso,51,Sin fecha de ingreso ni diagnóstico
1880,Garduño Garduño Tomás,Garduño,Garduño,Tomás,NaN,NaN,1974-10-30,Masculino,43,5238,HB,1591,NaN,Cadáver,34 reverso,59,NaN
2081,Hernández de Resendez Anastacia,Hernández,NaN,NaN,Anastacia,NaN,1974-06-15,Femenino,50,2883,NaN,234,PL+CH,Cadáver,38,65,NaN
2233,Isidro León Santos,Isidro,León,Santos,NaN,NaN,1974-11-10,Masculino,40,s-d,HB,2016-2A,NaN,Cadáver,42,70,Sin diagnóstico ni exp semefo
2260,Jiménez Raymundo M Galdina,Jiménez,Raymundo,M,Galdina,NaN,1974-04-02,Femenino,35,1088,HB,342,NaN,Cadáver,44,71,NaN
2285,Justo Jimenez María,Justo,Jimenez,María,NaN,NaN,1974-07-17,Femenino,55,NaN,HB,983,BN+CH,Cadáver,44 reverso,72,Sin folio AP
2341,Juárez Durán Antonio,Juárez,Durán,Antonio,NaN,NaN,1974-12-17,Masculino,47,6205,HV,1279,NaN,Cadáver,45 reverso,74,Sin diagnóstico
2487,López Medrana V Manuel Rep.,López,Medrana,V,Manuel,Rep.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cadáver,48 reverso,79,Sin datos
2589,Meza Saavedra Juvenal (nó),Meza,Saavedra,Juvenal,(nó),NaN,NaN,Masculino,NaN,26,HC,68401/73,NaN,Cadáver,52,83,"Sin edad, diagnóstico ni fecha de ingreso"
2770,Macias de Bartiloti Rosa María,Macias,de Bartiloti,Rosa,María,NaN,1974-03-08,Femenino,28,1233,8A,379,NaN,Cadáver,54 reverso,88,Punto rojo en número de expediente
2936,Moreno Martínez Margarito,Moreno,Martínez,Margarito,NaN,NaN,1974-01-25,Masculino,29,434,HX,30/25A,NaN,Cadáver,56 reverso,92,Subrayado rojo en el nombre. Sin diagnóstico
3168,Mateos Jiménez Alberto M,Mateos,Jiménez,Alberto,M,NaN,NaN,NaN,NaN,6418,CR,1440,NaN,Cadáver,60,99,Sin datos
3179,Miranda Rodia María,Miranda,Rodia,María,NaN,NaN,NaN,NaN,NaN,5914,HRL,1368,NaN,Cadáver,60,99,"Un ""no"" en el nombre"
3254,Ortíz Gutiérrez Gustavo,Ortíz,Gutiérrez,Gustavo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cadáver,64,102,"Un ""no"" en el nombre"
3349,Ortega García Francisco,Ortega,García,Francisco,NaN,NaN,NaN,Masculino,NaN,S/n,HB,676,NaN,Cadáver,65,104,NaN
3868,Rodríguez Rivera María de Jésus,Rodríguez,Rivera,María de Jésus,NaN,NaN,1974-06-15,Femenino,25,2857,6a,707,NaN,Cadáver,77,120,Diagnóstico ilegible
5439,Feto,NaN,NaN,NaN,NaN,NaN,1974-08-01,Masculino,9 meses,3660,1a,NaN,ANN,Feto,142,211,NaN

In [24]:
cols = ['Expediente_SEMEFO', 'Procedencia', 'Numero_acta', 'Diagnostico']
df[cols] = df[cols].fillna('s-d')
df.isna().sum()

Nombre_completo         0
Primer_apellido      1306
Segundo_apellido     1411
Nombres_propios_1    1576
Nombres_propios_2    4977
Nombres_propios_3    5656
Fecha                  11
Sexo                    7
Edad                  272
Expediente_SEMEFO       0
Procedencia             0
Numero_acta             0
Diagnostico             0
Tipo_restos             0
Foja                    0
Pagina_PDF              0
Observaciones        5641
dtype: int64

Es posible llenar los datos faltantes si hay un patrón. Por ejemplo el promedio local.

In [25]:
df[df['Fecha'].isna()]

,Nombre_completo,Primer_apellido,Segundo_apellido,Nombres_propios_1,Nombres_propios_2,Nombres_propios_3,Fecha,Sexo,Edad,Expediente_SEMEFO,Procedencia,Numero_acta,Diagnostico,Tipo_restos,Foja,Pagina_PDF,Observaciones
1343,Fernández Vera Antonio,Fernández,Vera,Antonio,NaN,NaN,NaN,NaN,NaN,4585,HRL,1084,Dispensan,Cadáver,26,43,NaN
1354,Fuentes Bobedilla Aurelio,Fuentes,Bobedilla,Aurelio,NaN,NaN,NaN,NaN,NaN,5054,CM,1906,s-d,Cadáver,26,43,NaN
1581,García Alfaro Rafael,García,Alfaro,Rafael,NaN,NaN,NaN,Masculino,NaN,1875,HB,586,s-d,Cadáver,30 reverso,51,Sin fecha de ingreso ni diagnóstico
2070,Hernández Molina Felipe,Hernández,Molina,Felipe,NaN,NaN,NaN,Masculino,47,2556,CM,762,Quemaduras+N,Cadáver,38,65,NaN
2477,Laraìn Jimenez Sergio,Laraìn,Jimenez,Sergio,NaN,NaN,NaN,Masculino,35,3366,15a,1574,HPAFPC,Cadáver,48 reverso,79,NaN
2487,López Medrana V Manuel Rep.,López,Medrana,V,Manuel,Rep.,NaN,NaN,NaN,s-d,s-d,s-d,s-d,Cadáver,48 reverso,79,Sin datos
2589,Meza Saavedra Juvenal (nó),Meza,Saavedra,Juvenal,(nó),NaN,NaN,Masculino,NaN,26,HC,68401/73,s-d,Cadáver,52,83,"Sin edad, diagnóstico ni fecha de ingreso"
3168,Mateos Jiménez Alberto M,Mateos,Jiménez,Alberto,M,NaN,NaN,NaN,NaN,6418,CR,1440,s-d,Cadáver,60,99,Sin datos
3179,Miranda Rodia María,Miranda,Rodia,María,NaN,NaN,NaN,NaN,NaN,5914,HRL,1368,s-d,Cadáver,60,99,"Un ""no"" en el nombre"
3254,Ortíz Gutiérrez Gustavo,Ortíz,Gutiérrez,Gustavo,NaN,NaN,NaN,NaN,NaN,s-d,s-d,s-d,s-d,Cadáver,64,102,"Un ""no"" en el nombre"
3349,Ortega García Francisco,Ortega,García,Francisco,NaN,NaN,NaN,Masculino,NaN,S/n,HB,676,s-d,Cadáver,65,104,NaN

In [26]:
fecha_na = df[df['Fecha'].isna()].index.to_list()
fecha_na = [[i-2,i-1,i,i+1,i+2] for i in fecha_na]
fecha_na = [item for sublist in fecha_na for item in sublist]
df.loc[fecha_na]

,Nombre_completo,Primer_apellido,Segundo_apellido,Nombres_propios_1,Nombres_propios_2,Nombres_propios_3,Fecha,Sexo,Edad,Expediente_SEMEFO,Procedencia,Numero_acta,Diagnostico,Tipo_restos,Foja,Pagina_PDF,Observaciones
1341,Flores Frías Ranulfo,Flores,Frías,Ranulfo,NaN,NaN,1974-08-21,Masculino,57,4545,24a,1527,BN+TCT,Cadáver,26,43,NaN
1342,Flores Tovar Francisco,Flores,Tovar,Francisco,NaN,NaN,1974-08-23,Masculino,30,4576,CR,1059,HIPCPA,Cadáver,26,43,NaN
1343,Fernández Vera Antonio,Fernández,Vera,Antonio,NaN,NaN,NaN,NaN,NaN,4585,HRL,1084,Dispensan,Cadáver,26,43,NaN
1344,Flores Jimenez Fidel,Flores,Jimenez,Fidel,NaN,NaN,1974-08-06,Masculino,65,4798,15a,2006,LOC,Cadáver,26,43,NaN
1345,Fernández de Barrón Esther,Fernández,NaN,NaN,Esther,NaN,1974-08-08,Femenino,80,4835,11a,881,TCT+BN,Cadáver,26,43,NaN
1352,Fortín Martínez maria del C.,Fortín,Martínez,maria del C.,NaN,NaN,1974-09-14,Femenino,20,4972,HB,1515,TCE,Cadáver,26,43,NaN
1353,Félix Robles María del Refugio,Félix,Robles,María del Refugio,NaN,NaN,1974-09-18,Femenino,70,5028,18a,1380,TCE,Cadáver,26,43,NaN
1354,Fuentes Bobedilla Aurelio,Fuentes,Bobedilla,Aurelio,NaN,NaN,NaN,NaN,NaN,5054,CM,1906,s-d,Cadáver,26,43,NaN
1355,Frías Rodríguez Peregrino,Frías,Rodríguez,Peregrino,NaN,NaN,1974-09-17,Masculino,64,5037,HV,1030,TM,Cadáver,26,43,NaN
1356,Flores Blansario Onésimo,Flores,Blansario,Onésimo,NaN,NaN,1974-09-24,Masculino,48,511,29a,162,AOVA,Cadáver,26,43,NaN
1579,Galicia Loredo Norberto,Galicia,Loredo,Norberto,NaN,NaN,1974-04-24,Masculino,22,1987,CM,594,TCTA,Cadáver,30 reverso,51,NaN
1580,Gamido Ramírez A. Edivier,Gamido,Ramírez,A.,Edivier,NaN,1974-04-11,Masculino,10 meses,1780,CR,408,Meningitis,Cadáver,30 reverso,51,NaN
1581,García Alfaro Rafael,García,Alfaro,Rafael,NaN,NaN,NaN,Masculino,NaN,1875,HB,586,s-d,Cadáver,30 reverso,51,Sin fecha de ingreso ni diagnóstico
1582,González Sanabria Eulalio,González,Sanabria,Eulalio,NaN,NaN,1974-04-23,Masculino,16,1978,11a,369,TCT,Cadáver,30 reverso,51,NaN
1583,González Camacho Guillermina,González,Camacho,Guillermina,NaN,NaN,1974-04-25,Femenino,30,2002,10a,482,BN+ABORTO,Cadáver,30 reverso,51,NaN
2068,Hernández Montiel Tiburcio,Hernández,Montiel,Tiburcio,NaN,NaN,1974-05-19,Masculino,13,2405,8a,824,SHinfecxTMI,Cadáver,38,65,NaN
2069,Hinojosa Cortés Esteban,Hinojosa,Cortés,Esteban,NaN,NaN,1974-05-22,Masculino,65,2469,16a,58,PN,Cadáver,38,65,NaN
2070,Hernández Molina Felipe,Hernández,Molina,Felipe,NaN,NaN,NaN,Masculino,47,2556,CM,762,Quemaduras+N,Cadáver,38,65,NaN
2071,Hidalgo Moreno Héctor,Hidalgo,Moreno,Héctor,NaN,NaN,1974-05-26,Masculino,11,2564,CR,585,TM,Cadáver,38,65,NaN
2072,Hernández Villegas Rubén,Hernández,Villegas,Rubén,NaN,NaN,1974-05-29,Masculino,13,2626,CR,589,TAP+BN,Cadáver,38,65,NaN
2475,Lapatín Milton,Lapatín,Milton,NaN,NaN,NaN,1974-07-10,Masculino,63,3307,7a,974,LOC,Cadáver,48 reverso,79,NaN
2476,Lira Gómez Carlos,Lira,Gómez,Carlos,NaN,NaN,1974-07-12,Masculino,20,3330,CR,754,TM,Cadáver,48 reverso,79,NaN
2477,Laraìn Jimenez Sergio,Laraìn,Jimenez,Sergio,NaN,NaN,NaN,Masculino,35,3366,15a,1574,HPAFPC,Cadáver,48 reverso,79,NaN
2478,López Vásquez,López,Vásquez,NaN,NaN,NaN,1974-07-17,Femenino,16,3399,6a,788/hrl,TA+PER,Cadáver,48 reverso,79,NaN
2479,Laureano Balderas Eleuterio,Laureano,Balderas,Eleuterio,NaN,NaN,1974-07-17,Masculino,20,3407,CR,773,CVG+ELEC,Cadáver,48 reverso,79,NaN
2485,López Morales Francisco,López,Morales,Francisco,NaN,NaN,1974-07-29,Masculino,20,3620,9a,1292,HIPCP,Cadáver,48 reverso,79,NaN
2486,LópezMadero Victor Manuel,LópezMadero,Victor,Manuel,NaN,NaN,1974-07-25,Masculino,25,3548,HV,718,TCE,Cadáver,48 reverso,79,NaN
2487,López Medrana V Manuel Rep.,López,Medrana,V,Manuel,Rep.,NaN,NaN,NaN,s-d,s-d,s-d,s-d,Cadáver,48 reverso,79,Sin datos
2488,López Robles Alejandro C,López,Robles,Alejandro,C,NaN,1974-07-31,Masculino,40,3642,HB,1120,TCE,Cadáver,49,80,NaN
2489,Lucas Arellano Margarito,Lucas,Arellano,Margarito,NaN,NaN,1974-08-03,Masculino,24,3681,4a,806,TCE,Cadáver,49,80,NaN
2587,López López Rutilo,López,López,Rutilo,NaN,NaN,1974-12-18,Masculino,30,6182,19a,1162,CVG,Cadáver,50,82,NaN
2588,Meneses Durán Adolfo,Meneses,Durán,Adolfo,NaN,NaN,1974-01-01,Masculino,22,10,11a,32665/73,TM,Cadáver,52,83,NaN
2589,Meza Saavedra Juvenal (nó),Meza,Saavedra,Juvenal,(nó),NaN,NaN,Masculino,NaN,26,HC,68401/73,s-d,Cadáver,52,83,"Sin edad, diagnóstico ni fecha de ingreso"
2590,Mejía Gutiérrez Honorato,Mejía,Gutiérrez,Honorato,NaN,NaN,1974-01-04,Masculino,22,55,18a,9,TM,Cadáver,52,83,NaN
2591,Melgarejo Huerta José Guadalupe,Melgarejo,Huerta,José,Guadalupe,NaN,1974-01-04,Masculino,45,62,CM,7,TCE,Cadáver,52,83,NaN
3166,Martínez Balboa de A Fidelina,Martínez,Balboa,de A,NaN,Fidelina,1974-12-29,Femenino,38,6389,2a,2369,HsPAFPsC,Cadáver,60,99,NaN
3167,Martínez Uzcanga Ramón,Martínez,Uzcanga,Ramón,NaN,NaN,1974-12-30,Masculino,29,6407,CM,2523,TCE,Cadáver,60,99,NaN
3168,Mateos Jiménez Alberto M,Mateos,Jiménez,Alberto,M,NaN,NaN,NaN,NaN,6418,CR,1440,s-d,Cadáver,60,99,Sin datos
3169,Martínez Pérez Tomás,Martínez,Pérez,Tomás,NaN,NaN,1974-12-23,Masculino,50,6268,HV,1312,TCT,Cadáver,60,99,NaN
3170,Malagón Cervantes José,Malagón,Cervantes,José,NaN,NaN,1974-12-27,Masculino,35,6375,3a,1275,TCT,Cadáver,60,99,NaN
3177,Mendoza Rodríguez Carlos,Mendoza,Rodríguez,Carlos,NaN,NaN,1974-12-31,Masculino,45,6445,HB,2254/1,HC,Cadáver,60,99,NaN
3178,Martínez Colón Gonzalo,Martínez,Colón,Gonzalo,NaN,NaN,1974-12-29,Masculino,62,6451,HB,1958,TCE,Cadáver,60,99,NaN
3179,Miranda Rodia María,Miranda,Rodia,María,NaN,NaN,NaN,NaN,NaN,5914,HRL,1368,s-d,Cadáver,60,99,"Un ""no"" en el nombre"
3180,Nahuara Cetina Fernando,Nahuara,Cetina,Fernando,NaN,NaN,1974-01-01,Masculino,33,8,HTB,1,AG OVA,Cadáver,62,100,NaN
3181,Nájera Nájera Nahum,Nájera,Nájera,Nahum,NaN,NaN,1974-01-02,Masculino,25,14,12a,1,HPAFPT,Cadáver,62,100,NaN
3252,Ortíz González Alfonso,Ortíz,González,Alfonso,NaN,NaN,1974-01-15,Masculino,2,238,1a,81,TCT+BN,Cadáver,64,102,NaN
3253,Octaviano Ramírez Antonio,Octaviano,Ramírez,Antonio,NaN,NaN,1974-01-17,Masculino,25,257,27a,29,CVG,Cadáver,64,102,NaN
3254,Ortíz Gutiérrez Gustavo,Ortíz,Gutiérrez,Gustavo,NaN,NaN,NaN,NaN,NaN,s-d,s-d,s-d,s-d,Cadáver,64,102,"Un ""no"" en el nombre"
3255,Otero López María,Otero,López,María,NaN,NaN,1974-01-18,Femenino,60,271,25a,19,TM,Cadáver,64,102,NaN
3256,Olvera Vázquez Sandra,Olvera,Vázquez,Sandra,NaN,NaN,1974-01-19,Femenino,3,298,20a,54,TCEyT,Cadáver,64,102,NaN
3347,Olvera Blanco J Guadalupe,Olvera,Blanco,J,Guadalupe,NaN,1974-12-21,Masculino,45,6219,4a,1372,HPAFPC,Cadáver,65,104,NaN
3348,Olguín Castro Altagracia,Olguín,Castro,Altagracia,NaN,NaN,1974-12-29,Femenino,50,6394,11a,1178,TM,Cadáver,65,104,NaN
3349,Ortega García Francisco,Ortega,García,Francisco,NaN,NaN,NaN,Masculino,NaN,S/n,HB,676,s-d,Cadáver,65,104,NaN
3350,Péres Rul Consuelo Francisco Javier,Péres,Rul,Consuelo,Francisco,Javier,1974-01-01,Masculino,26,2,8A,26550/73,TM,Cadáver,68,105,NaN
3351,Palomo Peralta Prócorro,Palomo,Peralta,Prócorro,NaN,NaN,1974-01-02,Masculino,52,23,18a,4,TM,Cadáver,68,105,NaN

Inferir de otras columnas

In [27]:
df[df['Sexo'].isna()]

,Nombre_completo,Primer_apellido,Segundo_apellido,Nombres_propios_1,Nombres_propios_2,Nombres_propios_3,Fecha,Sexo,Edad,Expediente_SEMEFO,Procedencia,Numero_acta,Diagnostico,Tipo_restos,Foja,Pagina_PDF,Observaciones
1343,Fernández Vera Antonio,Fernández,Vera,Antonio,NaN,NaN,NaN,NaN,NaN,4585,HRL,1084,Dispensan,Cadáver,26,43,NaN
1354,Fuentes Bobedilla Aurelio,Fuentes,Bobedilla,Aurelio,NaN,NaN,NaN,NaN,NaN,5054,CM,1906,s-d,Cadáver,26,43,NaN
2487,López Medrana V Manuel Rep.,López,Medrana,V,Manuel,Rep.,NaN,NaN,NaN,s-d,s-d,s-d,s-d,Cadáver,48 reverso,79,Sin datos
3168,Mateos Jiménez Alberto M,Mateos,Jiménez,Alberto,M,NaN,NaN,NaN,NaN,6418,CR,1440,s-d,Cadáver,60,99,Sin datos
3179,Miranda Rodia María,Miranda,Rodia,María,NaN,NaN,NaN,NaN,NaN,5914,HRL,1368,s-d,Cadáver,60,99,"Un ""no"" en el nombre"
3254,Ortíz Gutiérrez Gustavo,Ortíz,Gutiérrez,Gustavo,NaN,NaN,NaN,NaN,NaN,s-d,s-d,s-d,s-d,Cadáver,64,102,"Un ""no"" en el nombre"
3521,Placenta,Placenta,NaN,NaN,NaN,NaN,1974-09-03,NaN,NaN,4194,9a,1600,Desecho Obstétrico,Cadáver,70,109,NaN

In [28]:
sexo_replace = {1343:'Masculino', 1354:'Masculino', 2487:'Masculino', 3168:'Masculino', 
                3179:'Femenino', 3254:'Masculino', 3521:'s-d'}
for i,v in sexo_replace.items():
    df.loc[i,'Sexo'] = v
df.loc[sexo_replace.keys()]

,Nombre_completo,Primer_apellido,Segundo_apellido,Nombres_propios_1,Nombres_propios_2,Nombres_propios_3,Fecha,Sexo,Edad,Expediente_SEMEFO,Procedencia,Numero_acta,Diagnostico,Tipo_restos,Foja,Pagina_PDF,Observaciones
1343,Fernández Vera Antonio,Fernández,Vera,Antonio,NaN,NaN,NaN,Masculino,NaN,4585,HRL,1084,Dispensan,Cadáver,26,43,NaN
1354,Fuentes Bobedilla Aurelio,Fuentes,Bobedilla,Aurelio,NaN,NaN,NaN,Masculino,NaN,5054,CM,1906,s-d,Cadáver,26,43,NaN
2487,López Medrana V Manuel Rep.,López,Medrana,V,Manuel,Rep.,NaN,Masculino,NaN,s-d,s-d,s-d,s-d,Cadáver,48 reverso,79,Sin datos
3168,Mateos Jiménez Alberto M,Mateos,Jiménez,Alberto,M,NaN,NaN,Masculino,NaN,6418,CR,1440,s-d,Cadáver,60,99,Sin datos
3179,Miranda Rodia María,Miranda,Rodia,María,NaN,NaN,NaN,Femenino,NaN,5914,HRL,1368,s-d,Cadáver,60,99,"Un ""no"" en el nombre"
3254,Ortíz Gutiérrez Gustavo,Ortíz,Gutiérrez,Gustavo,NaN,NaN,NaN,Masculino,NaN,s-d,s-d,s-d,s-d,Cadáver,64,102,"Un ""no"" en el nombre"
3521,Placenta,Placenta,NaN,NaN,NaN,NaN,1974-09-03,s-d,NaN,4194,9a,1600,Desecho Obstétrico,Cadáver,70,109,NaN

In [29]:
df.isna().sum()

Nombre_completo         0
Primer_apellido      1306
Segundo_apellido     1411
Nombres_propios_1    1576
Nombres_propios_2    4977
Nombres_propios_3    5656
Fecha                  11
Sexo                    0
Edad                  272
Expediente_SEMEFO       0
Procedencia             0
Numero_acta             0
Diagnostico             0
Tipo_restos             0
Foja                    0
Pagina_PDF              0
Observaciones        5641
dtype: int64

### Texto
Unir columnas

In [30]:
df.columns

Index(['Nombre_completo', 'Primer_apellido', 'Segundo_apellido',
       'Nombres_propios_1', 'Nombres_propios_2', 'Nombres_propios_3', 'Fecha',
       'Sexo', 'Edad', 'Expediente_SEMEFO', 'Procedencia', 'Numero_acta',
       'Diagnostico', 'Tipo_restos', 'Foja', 'Pagina_PDF', 'Observaciones'],
      dtype='object')

In [31]:
cols = ['Procedencia', 'Numero_acta']
df['Procedencia_acta'] = df[cols].apply(lambda x: x.str.cat(sep='/'), axis=1)
df['Procedencia_acta']

0         HB/116/74
1       HB/22447/75
2             CR/14
3             3a/19
4            20a/10
           ...
5728        16a/678
5729       13a/3963
5730       13a/4013
5731       22a/1948
5732       11a/1176
Name: Procedencia_acta, Length: 5733, dtype: object

In [32]:
cols = ['Nombres_propios_1', 'Nombres_propios_2', 'Nombres_propios_3']
df['Nombres_propios'] = df[cols].apply(lambda x: x.str.cat(sep=' '), axis=1)
df['Nombres_propios']

0           Elena
1           David
2       Ana Maria
3          Arturo
4            Rosa
          ...
5728
5729
5730
5731
5732
Name: Nombres_propios, Length: 5733, dtype: object

In [33]:
df['Nombres_propios'].value_counts(dropna=False)

Nombres_propios
                    1394
José                 119
Francisco             90
Juan                  85
Antonio               79
                    ...
Erwin                  1
José de J.             1
Isidro de la luz       1
Asención               1
E Demetrio             1
Name: count, Length: 1295, dtype: int64

In [34]:
df['Nombres_propios'].value_counts(dropna=False).index

Index(['', 'José', 'Francisco', 'Juan', 'Antonio', 'Manuel', 'Jesús',
       'Roberto', 'Pedro', 'Luis',
       ...
       'Ana Rosa', 'Macedonio', 'Modesta', 'Bruno', 'Ruth', 'Erwin',
       'José de J.', 'Isidro de la luz', 'Asención', 'E Demetrio'],
      dtype='object', name='Nombres_propios', length=1295)

In [35]:
df['Nombres_propios'] = df['Nombres_propios'].replace({'':nan})
df['Nombres_propios'].value_counts(dropna=False)

Nombres_propios
NaN                 1394
José                 119
Francisco             90
Juan                  85
Antonio               79
                    ...
Erwin                  1
José de J.             1
Isidro de la luz       1
Asención               1
E Demetrio             1
Name: count, Length: 1295, dtype: int64

In [36]:
df.columns

Index(['Nombre_completo', 'Primer_apellido', 'Segundo_apellido',
       'Nombres_propios_1', 'Nombres_propios_2', 'Nombres_propios_3', 'Fecha',
       'Sexo', 'Edad', 'Expediente_SEMEFO', 'Procedencia', 'Numero_acta',
       'Diagnostico', 'Tipo_restos', 'Foja', 'Pagina_PDF', 'Observaciones',
       'Procedencia_acta', 'Nombres_propios'],
      dtype='object')

In [37]:
df = df[['Nombre_completo', 'Primer_apellido', 'Segundo_apellido', 'Nombres_propios', 
         'Fecha','Sexo', 'Edad', 'Expediente_SEMEFO', 'Procedencia', 'Numero_acta',
         'Procedencia_acta', 'Diagnostico', 'Tipo_restos', 'Foja', 'Pagina_PDF', 'Observaciones']]
df

,Nombre_completo,Primer_apellido,Segundo_apellido,Nombres_propios,Fecha,Sexo,Edad,Expediente_SEMEFO,Procedencia,Numero_acta,Procedencia_acta,Diagnostico,Tipo_restos,Foja,Pagina_PDF,Observaciones
0,Arguello de Sandoval Elena,Arguello,de Sandoval,Elena,1974-01-02,F,63,31,HB,116/74,HB/116/74,TCT,Cadáver,1,3,NaN
1,Aragon Gómez David,Aragon,Gómez,David,1974-01-01,M,17,16,HB,22447/75,HB/22447/75,INTER ED CEB,Cadáver,1,3,NaN
2,Arellano Sanchez Ana Maria,Arellano,Sanchez,Ana Maria,1974-01-04,F,69,56,CR,14,CR/14,TMI+BN,Cadáver,1,3,NaN
3,Aguendez Martínez Arturo,Aguendez,Martínez,Arturo,1974-01-05,M,40,66,3a,19,3a/19,BN+CH,Cadáver,1,3,NaN
4,Alvarez Corona Rosa,Alvarez,Corona,Rosa,1974-01-05,F,40,72,20a,10,20a/10,BN,Cadáver,1,3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5728,R Nacido,NaN,NaN,NaN,1974-11-12,Femenino,72 horas,6030,16a,678,16a/678,ANN,Cadáver,150 reverso,219,NaN
5729,R Nacido,NaN,NaN,NaN,1974-11-14,Masculino,72 horas,6063,13a,3963,13a/3963,AA,Cadáver,150 reverso,219,NaN
5730,R Nacido,NaN,NaN,NaN,1974-11-19,Masculino,72 horas,6163,13a,4013,13a/4013,ENT,Cadáver,150 reverso,219,NaN
5731,R Nacido,NaN,NaN,NaN,1974-11-20,Femenino,72 horas,6178,22a,1948,22a/1948,ANEN,Cadáver,150 reverso,219,NaN
5732,R Nacido,NaN,NaN,NaN,1974-11-30,Femenino,72 horas,6404,11a,1176,11a/1176,BN,Cadáver,150 reverso,219,NaN

Quitar acentos, espacios y caracteres especiales

In [38]:
text = '¡Una  compañía\tgrande! '
print(text)

¡Una  compañía	grande!

In [39]:
text.split()

['¡Una', 'compañía', 'grande!']

In [40]:
' '.join(text.split())

'¡Una compañía grande!'

In [41]:
text.lower()

'¡una  compañía\tgrande! '

In [42]:
#! pip install unidecode
from unidecode import unidecode
unidecode(text)

'!Una  compania\tgrande! '

In [43]:
from re import sub as resub
resub(r"[^a-zA-Z0-9]+", '*', text)

'*Una*compa*a*grande*'

In [44]:
from re import sub as resub
resub( r"[^a-zA-Z0-9]+", ' ', unidecode(text) )

' Una compania grande '

Quitar acentos, especiales y espacios múltiples

In [45]:
def simplify_string(text, str_case='lower', remove_special=False):
    """Simplify a string to remove special characters, double spaces and use lower case."""
    if type(text)==str:
        if str_case=='lower':  text = text.lower()
        elif str_case=='upper':  text = text.upper()
        elif str_case=='title':  text = text.title()
        elif str_case=='capitalize':  text = text.capitalize()
        text = ' '.join([t for t in text.split()])
        text = unidecode(text)
        if remove_special:
            text = resub(r"[^a-zA-Z0-9]+", ' ', text)
        text = ' '.join([t for t in text.split()]) #paranoia
    return text

print( simplify_string(text) )
print( simplify_string(text, remove_special=True) )

!una compania grande!
una compania grande

In [46]:
df['Nombre_completo']

0       Arguello de Sandoval Elena
1               Aragon Gómez David
2       Arellano Sanchez Ana Maria
3         Aguendez Martínez Arturo
4              Alvarez Corona Rosa
                   ...
5728                      R Nacido
5729                      R Nacido
5730                      R Nacido
5731                      R Nacido
5732                      R Nacido
Name: Nombre_completo, Length: 5733, dtype: object

In [47]:
df['Nombre_completo'].apply( simplify_string, str_case='upper' )

0       ARGUELLO DE SANDOVAL ELENA
1               ARAGON GOMEZ DAVID
2       ARELLANO SANCHEZ ANA MARIA
3         AGUENDEZ MARTINEZ ARTURO
4              ALVAREZ CORONA ROSA
                   ...
5728                      R NACIDO
5729                      R NACIDO
5730                      R NACIDO
5731                      R NACIDO
5732                      R NACIDO
Name: Nombre_completo, Length: 5733, dtype: object

In [48]:
for col in ['Procedencia', 'Numero_acta', 'Diagnostico']:
    df[col] = df[col].apply(simplify_string, str_case='upper')

for col in ['Nombre_completo', 'Primer_apellido', 'Segundo_apellido', 'Nombres_propios', 'Observaciones']:
    df[col] = df[col].apply(simplify_string, str_case='title', remove_special=True)

for col in ['Observaciones']:
    df[col] = df[col].apply(simplify_string, str_case='capitalize')

df

/tmp/ipykernel_9416/200857823.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].apply(simplify_string, str_case='upper')
/tmp/ipykernel_9416/200857823.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].apply(simplify_string, str_case='upper')
/tmp/ipykernel_9416/200857823.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].apply(simplify_string, str_case='upper')
/tmp/ipykernel_9416/200857823.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].apply(simplify_string, str_case='title', remove_special=True)
/tmp/ipykernel_9416/200857823.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].apply(simplify_string, str_case='title', remove_special=True)
/tmp/ipykernel_9416/200857823.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].apply(simplify_string, str_case='title', remove_special=True)
/tmp/ipykernel_9416/200857823.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].apply(simplify_string, str_case='title', remove_special=True)
/tmp/ipykernel_9416/200857823.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].apply(simplify_string, str_case='title', remove_special=True)
/tmp/ipykernel_9416/200857823.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].apply(simplify_string, str_case='capitalize')

,Nombre_completo,Primer_apellido,Segundo_apellido,Nombres_propios,Fecha,Sexo,Edad,Expediente_SEMEFO,Procedencia,Numero_acta,Procedencia_acta,Diagnostico,Tipo_restos,Foja,Pagina_PDF,Observaciones
0,Arguello De Sandoval Elena,Arguello,De Sandoval,Elena,1974-01-02,F,63,31,HB,116/74,HB/116/74,TCT,Cadáver,1,3,NaN
1,Aragon Gomez David,Aragon,Gomez,David,1974-01-01,M,17,16,HB,22447/75,HB/22447/75,INTER ED CEB,Cadáver,1,3,NaN
2,Arellano Sanchez Ana Maria,Arellano,Sanchez,Ana Maria,1974-01-04,F,69,56,CR,14,CR/14,TMI+BN,Cadáver,1,3,NaN
3,Aguendez Martinez Arturo,Aguendez,Martinez,Arturo,1974-01-05,M,40,66,3A,19,3a/19,BN+CH,Cadáver,1,3,NaN
4,Alvarez Corona Rosa,Alvarez,Corona,Rosa,1974-01-05,F,40,72,20A,10,20a/10,BN,Cadáver,1,3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5728,R Nacido,NaN,NaN,NaN,1974-11-12,Femenino,72 horas,6030,16A,678,16a/678,ANN,Cadáver,150 reverso,219,NaN
5729,R Nacido,NaN,NaN,NaN,1974-11-14,Masculino,72 horas,6063,13A,3963,13a/3963,AA,Cadáver,150 reverso,219,NaN
5730,R Nacido,NaN,NaN,NaN,1974-11-19,Masculino,72 horas,6163,13A,4013,13a/4013,ENT,Cadáver,150 reverso,219,NaN
5731,R Nacido,NaN,NaN,NaN,1974-11-20,Femenino,72 horas,6178,22A,1948,22a/1948,ANEN,Cadáver,150 reverso,219,NaN
5732,R Nacido,NaN,NaN,NaN,1974-11-30,Femenino,72 horas,6404,11A,1176,11a/1176,BN,Cadáver,150 reverso,219,NaN

### Categorias

In [49]:
df['Sexo'].value_counts(dropna=False)

Sexo
Masculino    4382
Femenino     1262
M              53
s-d            19
F              17
Name: count, dtype: int64

In [50]:
sexo_replace = {'M':'Masculino', 'F':'Femenino', 's-d':'S-D'}
df['Sexo'] = df['Sexo'].replace(sexo_replace)
df['Sexo'].value_counts(dropna=False)

/tmp/ipykernel_9416/4015271275.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Sexo'] = df['Sexo'].replace(sexo_replace)

Sexo
Masculino    4435
Femenino     1279
S-D            19
Name: count, dtype: int64

In [51]:
df['Sexo'] = df['Sexo'].astype("category")
df['Sexo']

/tmp/ipykernel_9416/1037324658.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Sexo'] = df['Sexo'].astype("category")

0        Femenino
1       Masculino
2        Femenino
3       Masculino
4        Femenino
          ...
5728     Femenino
5729    Masculino
5730    Masculino
5731     Femenino
5732     Femenino
Name: Sexo, Length: 5733, dtype: category
Categories (3, object): ['Femenino', 'Masculino', 'S-D']

In [52]:
df['Tipo_restos'].value_counts(dropna=False)

Tipo_restos
Cadáver    5351
Feto        246
Miembro     136
Name: count, dtype: int64

In [53]:
from pandas.api.types import CategoricalDtype

orden_restos = ['Cadáver', 'Restos humanos', 'Restos cremados', 'Restos óseos', 'Feto', 'Miembro']
orden_restos = CategoricalDtype(categories=orden_restos, ordered=True)
df['Tipo_restos'] = df['Tipo_restos'].astype( orden_restos )
df['Tipo_restos']

/tmp/ipykernel_9416/3317706933.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Tipo_restos'] = df['Tipo_restos'].astype( orden_restos )

0       Cadáver
1       Cadáver
2       Cadáver
3       Cadáver
4       Cadáver
         ...
5728    Cadáver
5729    Cadáver
5730    Cadáver
5731    Cadáver
5732    Cadáver
Name: Tipo_restos, Length: 5733, dtype: category
Categories (6, object): ['Cadáver' < 'Restos humanos' < 'Restos cremados' < 'Restos óseos' < 'Feto' < 'Miembro']

### Numérico

In [54]:
df['Expediente_SEMEFO'].isna().sum()

0

In [55]:
df.dtypes

Nombre_completo        object
Primer_apellido        object
Segundo_apellido       object
Nombres_propios        object
Fecha                  object
Sexo                 category
Edad                   object
Expediente_SEMEFO      object
Procedencia            object
Numero_acta            object
Procedencia_acta       object
Diagnostico            object
Tipo_restos          category
Foja                   object
Pagina_PDF              int64
Observaciones          object
dtype: object

In [56]:
pd.to_numeric(df['Expediente_SEMEFO'], errors='coerce').isna().sum()

28

In [57]:
def to_dtype_with_errors(df, col, dtype='numeric', suffix='clean', replace_dict={'S-D':nan}, **kwargs):
    """
    Casts series astype and creates a column with succeses and an other with failures.
    
    Examples
    --------
    >>> df = to_dtype_with_errors(df, 'Fecha', dtype='datetime')
    >>> df = to_dtype_with_errors(df, 'Edad', dtype='numeric', downcast='integer')
    """
    # convert
    dat = df[col].replace(replace_dict)
    if dtype=='numeric':
        dat_clean = pd.to_numeric(dat, errors='coerce', **kwargs)
    elif dtype=='datetime':
        dat_clean = pd.to_datetime(dat, errors='coerce', **kwargs)
    else: return df
    # errors
    dat_error = dat.isna() != dat_clean.isna()
    dat_error = dat.where(dat_error)
    # insert after col
    index = df.columns.get_loc(col)
    df.insert(index+1, col+'_'+suffix, dat_clean)
    df.insert(index+2, col+'_error', dat_error)
    return df

In [58]:
df

,Nombre_completo,Primer_apellido,Segundo_apellido,Nombres_propios,Fecha,Sexo,Edad,Expediente_SEMEFO,Procedencia,Numero_acta,Procedencia_acta,Diagnostico,Tipo_restos,Foja,Pagina_PDF,Observaciones
0,Arguello De Sandoval Elena,Arguello,De Sandoval,Elena,1974-01-02,Femenino,63,31,HB,116/74,HB/116/74,TCT,Cadáver,1,3,NaN
1,Aragon Gomez David,Aragon,Gomez,David,1974-01-01,Masculino,17,16,HB,22447/75,HB/22447/75,INTER ED CEB,Cadáver,1,3,NaN
2,Arellano Sanchez Ana Maria,Arellano,Sanchez,Ana Maria,1974-01-04,Femenino,69,56,CR,14,CR/14,TMI+BN,Cadáver,1,3,NaN
3,Aguendez Martinez Arturo,Aguendez,Martinez,Arturo,1974-01-05,Masculino,40,66,3A,19,3a/19,BN+CH,Cadáver,1,3,NaN
4,Alvarez Corona Rosa,Alvarez,Corona,Rosa,1974-01-05,Femenino,40,72,20A,10,20a/10,BN,Cadáver,1,3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5728,R Nacido,NaN,NaN,NaN,1974-11-12,Femenino,72 horas,6030,16A,678,16a/678,ANN,Cadáver,150 reverso,219,NaN
5729,R Nacido,NaN,NaN,NaN,1974-11-14,Masculino,72 horas,6063,13A,3963,13a/3963,AA,Cadáver,150 reverso,219,NaN
5730,R Nacido,NaN,NaN,NaN,1974-11-19,Masculino,72 horas,6163,13A,4013,13a/4013,ENT,Cadáver,150 reverso,219,NaN
5731,R Nacido,NaN,NaN,NaN,1974-11-20,Femenino,72 horas,6178,22A,1948,22a/1948,ANEN,Cadáver,150 reverso,219,NaN
5732,R Nacido,NaN,NaN,NaN,1974-11-30,Femenino,72 horas,6404,11A,1176,11a/1176,BN,Cadáver,150 reverso,219,NaN

In [59]:
df = to_dtype_with_errors(df, 'Expediente_SEMEFO', dtype='numeric', downcast='integer')
df['Expediente_SEMEFO_error'].unique()

array([nan, '39/75', 's-d', '60/75', '6329/73', 'S/n', '34/75', '40/75'],
      dtype=object)

In [60]:
df['Expediente_SEMEFO'] = df['Expediente_SEMEFO']

/tmp/ipykernel_9416/1149684619.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Expediente_SEMEFO'] = df['Expediente_SEMEFO']

Edad

In [61]:
df = to_dtype_with_errors(df, 'Edad', dtype='numeric', downcast='integer')
df

,Nombre_completo,Primer_apellido,Segundo_apellido,Nombres_propios,Fecha,Sexo,Edad,Edad_clean,Edad_error,Expediente_SEMEFO,Expediente_SEMEFO_clean,Expediente_SEMEFO_error,Procedencia,Numero_acta,Procedencia_acta,Diagnostico,Tipo_restos,Foja,Pagina_PDF,Observaciones
0,Arguello De Sandoval Elena,Arguello,De Sandoval,Elena,1974-01-02,Femenino,63,63.0,NaN,31,31.0,NaN,HB,116/74,HB/116/74,TCT,Cadáver,1,3,NaN
1,Aragon Gomez David,Aragon,Gomez,David,1974-01-01,Masculino,17,17.0,NaN,16,16.0,NaN,HB,22447/75,HB/22447/75,INTER ED CEB,Cadáver,1,3,NaN
2,Arellano Sanchez Ana Maria,Arellano,Sanchez,Ana Maria,1974-01-04,Femenino,69,69.0,NaN,56,56.0,NaN,CR,14,CR/14,TMI+BN,Cadáver,1,3,NaN
3,Aguendez Martinez Arturo,Aguendez,Martinez,Arturo,1974-01-05,Masculino,40,40.0,NaN,66,66.0,NaN,3A,19,3a/19,BN+CH,Cadáver,1,3,NaN
4,Alvarez Corona Rosa,Alvarez,Corona,Rosa,1974-01-05,Femenino,40,40.0,NaN,72,72.0,NaN,20A,10,20a/10,BN,Cadáver,1,3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5728,R Nacido,NaN,NaN,NaN,1974-11-12,Femenino,72 horas,NaN,72 horas,6030,6030.0,NaN,16A,678,16a/678,ANN,Cadáver,150 reverso,219,NaN
5729,R Nacido,NaN,NaN,NaN,1974-11-14,Masculino,72 horas,NaN,72 horas,6063,6063.0,NaN,13A,3963,13a/3963,AA,Cadáver,150 reverso,219,NaN
5730,R Nacido,NaN,NaN,NaN,1974-11-19,Masculino,72 horas,NaN,72 horas,6163,6163.0,NaN,13A,4013,13a/4013,ENT,Cadáver,150 reverso,219,NaN
5731,R Nacido,NaN,NaN,NaN,1974-11-20,Femenino,72 horas,NaN,72 horas,6178,6178.0,NaN,22A,1948,22a/1948,ANEN,Cadáver,150 reverso,219,NaN
5732,R Nacido,NaN,NaN,NaN,1974-11-30,Femenino,72 horas,NaN,72 horas,6404,6404.0,NaN,11A,1176,11a/1176,BN,Cadáver,150 reverso,219,NaN

In [62]:
df['Edad_error'].unique()

array([nan, '3m', '3a', '4a', '19m', '14m', '10 días', '16M', '18m',
       's-d', '9m', '2m', '6m', '4m', '8 días', '8 meses', '18 meses',
       '25 dias', '20 meses', '2 meses', '6 meses', '3 meses', '9 meses',
       '3meses', '1 mes', '15 días', '11 meses', '10 meses', '4 meses',
       '15  días', '12  días', '21  días', '5 meses', '10 SEMNS',
       '40  días', '7 meses', '3  días', '72 horas', '5  días',
       '1 Y 8 meses', '15 meses', '48  días', '16 meses', '22 meses', '?',
       '13  días', '1 meses', '1  días', '26 dias', '45  días', '[8]',
       '4 dias', '1 MES', '6  días', '3 días', '19 días', '6 días',
       '17 días', '20 días', '1 día', '30 días', '4 días', '7 días',
       '13 días', '22 días', '16 días', '25 días', '12 días', '6.5 meses',
       '3.5 meses', '5.5 meses', '4.5 meses', '50 horas', '2 días',
       '24 horas'], dtype=object)

In [63]:
def replace_edades_menor_al_año(edad):
    from math import floor
    if type(edad)==str:
        edad_ = simplify_string(edad)
        edad_ = edad_.replace(' 1/2','.5')
        edad_ = edad_.replace('horas','hora').replace('dias','dia').replace('semanas','semana').replace('meses','mes').replace('anos','ano')
        dic_time = {'ano':1, 'mes':12, 'semana':52, 'dia':365, 'hora':8766}
        for nombre, n in dic_time.items():
            if nombre in edad_:
                edad_ = simplify_string( edad_.replace(nombre,'') )
                try: edad_ = float(edad_)
                except ValueError: return edad
                return floor( edad_ / n )
        dic_time = {'a':1, 'm':12, 'd':365}
        for nombre, n in dic_time.items():
            if nombre in edad_:
                edad_ = simplify_string( edad_.replace(nombre,'') )
                try: edad_ = float(edad_)
                except ValueError: return edad
                return floor( edad_ / n )
        try: edad_ = float(edad_)
        except(ValueError): return edad
        return floor(edad_)
    return edad

df['Edad_error'].apply(replace_edades_menor_al_año).unique()

array([nan, 0, 3, 4, 1, 's-d', '10 SEMNS', '1 Y 8 meses', '?', '[8]'],
      dtype=object)

In [64]:
edad_replace = {'s-d':nan, '10 SEMNS':0, '1 Y 8 meses':0, '?':nan, '[8]':8}
df['Edad_estandar'] = df['Edad'].replace(edad_replace).apply(replace_edades_menor_al_año)
df['Edad_estandar'].unique()

/tmp/ipykernel_9416/1121660361.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Edad_estandar'] = df['Edad'].replace(edad_replace).apply(replace_edades_menor_al_año)

array([6.300e+01, 1.700e+01, 6.900e+01, 4.000e+01, 6.800e+01, 5.000e+01,
       4.200e+01, 6.600e+01, 5.500e+01, 6.000e+01, 3.000e+01, 4.800e+01,
       3.900e+01, 3.500e+01, 3.700e+01, 5.600e+01, 6.200e+01, 2.700e+01,
       4.000e+00, 4.100e+01, 2.500e+01, 7.200e+01, 1.600e+01, 6.500e+01,
       2.600e+01, 8.000e+00, 2.000e+01, 0.000e+00, 3.000e+00, 2.800e+01,
       5.800e+01, 2.300e+01, 2.200e+01, 7.500e+01, 1.000e+00, 2.400e+01,
       5.400e+01, 1.900e+01, 3.400e+01, 8.000e+01, 1.300e+01, 3.600e+01,
       4.500e+01, 2.000e+00, 6.100e+01, 1.200e+01, 7.000e+01, 4.900e+01,
       9.500e+01, 3.300e+01, 3.200e+01, 1.400e+01, 5.700e+01, 8.500e+01,
       2.100e+01,       nan, 7.400e+01, 1.500e+01, 8.600e+01, 1.100e+01,
       5.000e+00, 4.700e+01, 6.000e+00, 2.900e+01, 5.200e+01, 8.100e+01,
       8.400e+01, 1.800e+01, 3.800e+01, 4.300e+01, 5.300e+01, 9.000e+00,
       4.400e+01, 6.400e+01, 7.300e+01, 8.200e+01, 8.300e+01, 5.100e+01,
       7.700e+01, 1.000e+01, 3.100e+01, 4.600e+01, 5.900e+01, 7.000e+00,
       7.900e+01, 7.100e+01, 6.700e+01, 7.800e+01, 9.300e+01, 8.700e+01,
       7.600e+01, 9.800e+01, 9.000e+01, 8.800e+01, 8.900e+01, 9.400e+01,
       9.200e+01, 1.030e+02, 5.575e+03])

In [65]:
df['Edad_estandar'].plot.hist()

In [66]:
df.loc[(df['Edad_estandar']<0) | (df['Edad_estandar']>99)]

,Nombre_completo,Primer_apellido,Segundo_apellido,Nombres_propios,Fecha,Sexo,Edad,Edad_clean,Edad_error,Expediente_SEMEFO,...,Expediente_SEMEFO_error,Procedencia,Numero_acta,Procedencia_acta,Diagnostico,Tipo_restos,Foja,Pagina_PDF,Observaciones,Edad_estandar
4229,Salas Viuda De Barroso Guadalupe,Salas,Viuda De Barroso,Guadalupe,1974-12-19,Femenino,103,103.0,NaN,6185,...,NaN,HX,917,HX/917,TMI+LOC,Cadáver,88 reverso,138,Punto rojo en procedencia,103.0
4609,Desconocido,NaN,NaN,NaN,1974-03-24,Masculino,5575,5575.0,NaN,1433,...,NaN,15A,754,15a/754,TM,Cadáver,110 reverso,167,NaN,5575.0

In [67]:
df.loc[(df['Edad_estandar']<0) | (df['Edad_estandar']>99), 'Edad_estandar'] = nan
df['Edad_estandar'].plot.hist()

In [68]:
df.columns

Index(['Nombre_completo', 'Primer_apellido', 'Segundo_apellido',
       'Nombres_propios', 'Fecha', 'Sexo', 'Edad', 'Edad_clean', 'Edad_error',
       'Expediente_SEMEFO', 'Expediente_SEMEFO_clean',
       'Expediente_SEMEFO_error', 'Procedencia', 'Numero_acta',
       'Procedencia_acta', 'Diagnostico', 'Tipo_restos', 'Foja', 'Pagina_PDF',
       'Observaciones', 'Edad_estandar'],
      dtype='object')

### Datetime

In [69]:
df = to_dtype_with_errors(df, 'Fecha', dtype='datetime')
df

,Nombre_completo,Primer_apellido,Segundo_apellido,Nombres_propios,Fecha,Fecha_clean,Fecha_error,Sexo,Edad,Edad_clean,...,Expediente_SEMEFO_error,Procedencia,Numero_acta,Procedencia_acta,Diagnostico,Tipo_restos,Foja,Pagina_PDF,Observaciones,Edad_estandar
0,Arguello De Sandoval Elena,Arguello,De Sandoval,Elena,1974-01-02,1974-01-02,NaN,Femenino,63,63.0,...,NaN,HB,116/74,HB/116/74,TCT,Cadáver,1,3,NaN,63.0
1,Aragon Gomez David,Aragon,Gomez,David,1974-01-01,1974-01-01,NaN,Masculino,17,17.0,...,NaN,HB,22447/75,HB/22447/75,INTER ED CEB,Cadáver,1,3,NaN,17.0
2,Arellano Sanchez Ana Maria,Arellano,Sanchez,Ana Maria,1974-01-04,1974-01-04,NaN,Femenino,69,69.0,...,NaN,CR,14,CR/14,TMI+BN,Cadáver,1,3,NaN,69.0
3,Aguendez Martinez Arturo,Aguendez,Martinez,Arturo,1974-01-05,1974-01-05,NaN,Masculino,40,40.0,...,NaN,3A,19,3a/19,BN+CH,Cadáver,1,3,NaN,40.0
4,Alvarez Corona Rosa,Alvarez,Corona,Rosa,1974-01-05,1974-01-05,NaN,Femenino,40,40.0,...,NaN,20A,10,20a/10,BN,Cadáver,1,3,NaN,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5728,R Nacido,NaN,NaN,NaN,1974-11-12,1974-11-12,NaN,Femenino,72 horas,NaN,...,NaN,16A,678,16a/678,ANN,Cadáver,150 reverso,219,NaN,0.0
5729,R Nacido,NaN,NaN,NaN,1974-11-14,1974-11-14,NaN,Masculino,72 horas,NaN,...,NaN,13A,3963,13a/3963,AA,Cadáver,150 reverso,219,NaN,0.0
5730,R Nacido,NaN,NaN,NaN,1974-11-19,1974-11-19,NaN,Masculino,72 horas,NaN,...,NaN,13A,4013,13a/4013,ENT,Cadáver,150 reverso,219,NaN,0.0
5731,R Nacido,NaN,NaN,NaN,1974-11-20,1974-11-20,NaN,Femenino,72 horas,NaN,...,NaN,22A,1948,22a/1948,ANEN,Cadáver,150 reverso,219,NaN,0.0
5732,R Nacido,NaN,NaN,NaN,1974-11-30,1974-11-30,NaN,Femenino,72 horas,NaN,...,NaN,11A,1176,11a/1176,BN,Cadáver,150 reverso,219,NaN,0.0

In [70]:
df['Fecha_error'].unique()

array([nan, 's-d', '29/02/1974'], dtype=object)

In [71]:
df['Fecha_diasemana'] = df['Fecha_clean'].dt.day_name()
day_replace = {'Monday':'Lunes', 'Tuesday':'Martes', 'Wednesday':'Miércoles', 
               'Thursday':'Jueves', 'Friday':'Viernes', 'Saturday':'Sábado', 'Sunday':'Domingo' }
df['Fecha_diasemana'] = df['Fecha_diasemana'].replace(day_replace)

orden_dia = day_replace.values()
orden_dia = CategoricalDtype(categories=orden_dia, ordered=True)
df['Fecha_diasemana'] = df['Fecha_diasemana'].astype( orden_dia )
df['Fecha_diasemana'].value_counts()

/tmp/ipykernel_9416/462683002.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Fecha_diasemana'] = df['Fecha_clean'].dt.day_name()
/tmp/ipykernel_9416/462683002.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Fecha_diasemana'] = df['Fecha_diasemana'].replace(day_replace)
/tmp/ipykernel_9416/462683002.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Fecha_diasemana'] = df['Fecha_diasemana'].astype( orden_dia )

Fecha_diasemana
Lunes        1020
Martes        874
Miércoles     813
Jueves        800
Viernes       767
Sábado        740
Domingo       699
Name: count, dtype: int64

## 4. Ordenar y guardar

In [72]:
col_rename = {'Fecha_clean':'Fecha_estandar'}
df = df.rename(columns=col_rename)
df = df[['Nombre_completo', 'Primer_apellido', 'Segundo_apellido', 'Nombres_propios', 
         'Fecha', 'Fecha_estandar', 'Fecha_diasemana', 'Sexo', 'Edad', 'Edad_estandar', 
         'Expediente_SEMEFO', 'Procedencia', 'Numero_acta', 'Procedencia_acta', 'Diagnostico', 
         'Tipo_restos', 'Foja', 'Pagina_PDF', 'Observaciones' ]]
df

,Nombre_completo,Primer_apellido,Segundo_apellido,Nombres_propios,Fecha,Fecha_estandar,Fecha_diasemana,Sexo,Edad,Edad_estandar,Expediente_SEMEFO,Procedencia,Numero_acta,Procedencia_acta,Diagnostico,Tipo_restos,Foja,Pagina_PDF,Observaciones
0,Arguello De Sandoval Elena,Arguello,De Sandoval,Elena,1974-01-02,1974-01-02,Miércoles,Femenino,63,63.0,31,HB,116/74,HB/116/74,TCT,Cadáver,1,3,NaN
1,Aragon Gomez David,Aragon,Gomez,David,1974-01-01,1974-01-01,Martes,Masculino,17,17.0,16,HB,22447/75,HB/22447/75,INTER ED CEB,Cadáver,1,3,NaN
2,Arellano Sanchez Ana Maria,Arellano,Sanchez,Ana Maria,1974-01-04,1974-01-04,Viernes,Femenino,69,69.0,56,CR,14,CR/14,TMI+BN,Cadáver,1,3,NaN
3,Aguendez Martinez Arturo,Aguendez,Martinez,Arturo,1974-01-05,1974-01-05,Sábado,Masculino,40,40.0,66,3A,19,3a/19,BN+CH,Cadáver,1,3,NaN
4,Alvarez Corona Rosa,Alvarez,Corona,Rosa,1974-01-05,1974-01-05,Sábado,Femenino,40,40.0,72,20A,10,20a/10,BN,Cadáver,1,3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5728,R Nacido,NaN,NaN,NaN,1974-11-12,1974-11-12,Martes,Femenino,72 horas,0.0,6030,16A,678,16a/678,ANN,Cadáver,150 reverso,219,NaN
5729,R Nacido,NaN,NaN,NaN,1974-11-14,1974-11-14,Jueves,Masculino,72 horas,0.0,6063,13A,3963,13a/3963,AA,Cadáver,150 reverso,219,NaN
5730,R Nacido,NaN,NaN,NaN,1974-11-19,1974-11-19,Martes,Masculino,72 horas,0.0,6163,13A,4013,13a/4013,ENT,Cadáver,150 reverso,219,NaN
5731,R Nacido,NaN,NaN,NaN,1974-11-20,1974-11-20,Miércoles,Femenino,72 horas,0.0,6178,22A,1948,22a/1948,ANEN,Cadáver,150 reverso,219,NaN
5732,R Nacido,NaN,NaN,NaN,1974-11-30,1974-11-30,Sábado,Femenino,72 horas,0.0,6404,11A,1176,11a/1176,BN,Cadáver,150 reverso,219,NaN

In [73]:
df.dtypes

Nombre_completo              object
Primer_apellido              object
Segundo_apellido             object
Nombres_propios              object
Fecha                        object
Fecha_estandar       datetime64[ns]
Fecha_diasemana            category
Sexo                       category
Edad                         object
Edad_estandar               float64
Expediente_SEMEFO            object
Procedencia                  object
Numero_acta                  object
Procedencia_acta             object
Diagnostico                  object
Tipo_restos                category
Foja                         object
Pagina_PDF                    int64
Observaciones                object
dtype: object

In [74]:
f_name = 'SEMEFO_BO1974_transcritos_clean'
f_out = 'profile/' +f_name +'.html'

prof = df.profile_report( title=f_name)
prof.to_file(output_file=f_out)

Summarize dataset: 100%|█████████████| 33/33 [00:11<00:00,  2.95it/s, Completed]
Generate report structure: 100%|██████████████████| 1/1 [00:16<00:00, 16.77s/it]
Render HTML: 100%|████████████████████████████████| 1/1 [00:04<00:00,  4.59s/it]
Export report to file: 100%|██████████████████████| 1/1 [00:00<00:00, 13.35it/s]

In [75]:
df.to_csv('data_clean/SEMEFO_BO1974_clean_20231107.csv')
df.to_pickle('data_clean/SEMEFO_BO1974_clean_20231107.pkl')

Done